:root {
    --bg-dark-clr: black;
    --bg-light-clr: #ffffff;
    --heading-org-clr : orange; 
     --heading-clr : rgb(0, 94, 255) ;
    --heading-text-clr : rgb(118, 120, 188);
    --heading-clr-1 : green;
   

    /* RGB Variables */
    --bg-dark-rgb: 0, 0, 0;
    --bg-light-rgb: 255, 255, 255;
    --heading-clr-rgb : 216,246,2;
    --primary-heading-rgb: 168, 85, 247;
    --sub-heading-rgb :65,65,65;
   
}

/* Background Colors */
.bg-dark-clr {
    background-color: var(--bg-dark-clr);
}

.bg-light-clr {
    background-color: var(--bg-light-clr);
}
.bg-orange-clr{
    background-color: var(--heading-org-clr);
}
.bg-primary-heading {
    background-color: var(--heading-clr);
}



/* Text Colors */
.text-dark {
    color: var(--bg-dark-clr);
}

.text-light {
    color: var(--bg-light-clr);
}

.text-primary-heading {
    color: var(--primary-heading-clr);
}



/* font-style */
.main-font{
     font-family: "Noto Sans", sans-serif;
     font-weight: 600;
}
/* body bg-color */

body{
    background-color: var(--bg-dark-clr) !important;
    overflow-x: hidden;
}